:root {
    --navigation-menu-bg-color: rgba(79, 79, 79, 0.933);
    --navigation-menu-text-color: white;
    --navigation-menu-hover-bg-color: rgba(102, 102, 102, 0.933);
    --navigation-menu-active-bg-color: rgba(73, 73, 73, 0.933);

    --navigation-menu-medium-bg-color: rgb(235, 235, 235);
    --navigation-menu-medium-text-color: black;
    --navigation-menu-medium-hover-bg-color: rgb(178, 255, 180);
    --navigation-menu-medium-active-bg-color: rgb(199, 255, 201);


}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navigation-menu-xs{
    height: 100vh;
    width: 40px;
    background-color: rgba(34, 34, 34, 0.933);
    color: white;
    float: left;
    text-align: center;

}

.fas {
    font-size: 20px;
    padding: 12px 5px;
    font-weight: thin
}

.fas:hover, .active-nav {
    color: rgb(145, 238, 122)
}

.navigation-menu {
    height: 100vh;
    width: 160px;
    background-color: var(--navigation-menu-bg-color);
    color: var(--navigation-menu-text-color);
    float: left;
}

.navigation-menu-medium {
    height: 100vh;
    width: 200px;
    float: left;
    background-color: var(--navigation-menu-medium-bg-color);
    color: var(--navigation-menu-medium-text-color)
}

#userContent {
    height: calc(100% - 43px - 28.96px);
    width: calc(100% - 400px);
    float: left;
    border: 1px
}

#quillEditor {
    height: 100%;
}

#editor {
    height: calc(100% + 45px);

 }

.ql-container.ql-snow {
    border: none !important;
}

#note-title {
    border: 0px;
    width: 80%;
    padding-left: 15px;
}

#tags{
    border: 0px;
    width: 20%;
    float: right;
    padding-left: 5px;
    color: rgb(161, 161, 161)

}

.ql-toolbar.ql-snow {
    border: none;
}

.notebook,
.note {
    padding-left: 7px;
    margin-bottom: 0px;
    padding-bottom: 5px;
}

.note {
    font-size: 15px;
}

.notebook:hover {
    background-color: var(--navigation-menu-hover-bg-color)
}

.note:hover{
    background-color: var(--navigation-menu-medium-hover-bg-color)
}

.active-notebook{
    background-color: var(--navigation-menu-active-bg-color)
}

.active-note{
    background-color: var(--navigation-menu-medium-active-bg-color)
}

.navigation-menu-title,
.navigation-menu-medium-title {
    padding-left: 7px;
    margin-bottom: 7px;
}

.hidden{
    display: none;
}